.main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.main__approved-container {
  width: 200px;
  position: absolute;
  right: 10px;
  top: 20px;
  overflow: hidden;
}

.main__approved-image {
  width: 100%;
  animation: 15s ease-in-out 0s normal none infinite running rot;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: white;
  gap: 24px;
}

.form__part {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 8px;
}

.controlls {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.label-text {
  font-size: 20px;
  justify-self: flex-start;
  order: 2;
  cursor: pointer;
}

.helper-container {
  position: absolute;
  overflow: hidden;
  top: 200px;
  right: 20px;
  padding: 6px;
  border-radius: 6px;
  border: turquoise solid 1px;
  text-align: center;
  width: 200px;
}

.footer {
  display: flex;
  height: 200px;
  align-items: center;
  display: none;
}

.sad-container {
  margin-top: 16px;
  width: 200px;
}

.sad-img {
  width: 100%;
}

.form-text {
  font-size: 20px;
}

.first {
  width: 200px;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 95%;
    position: relative;
  }

  .main__title {
    text-align: center;
  }

  .main__approved-container {
    display: none;
    width: 100px;
    bottom: 0;
    left: 0;

  }

  .main__approved-image {
    bottom: -100px;
    position: absolute;
    left: 0;
  }

  .helper-container {
    display: none;
  }

  .footer {
    display: flex;
    overflow: hidden;
  }
}

.first {
  overflow: hidden;
  width: 200px;
  animation: 15s ease-in-out 0s normal none infinite running rot;

}

.first__approved-image {
  overflow: hidden;
  width: 100%;
}

@keyframes rot {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
  /* 0% {
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(45deg);
  }

 

  75%{
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  } */
}

